IO_LOC  "an1" 57;
IO_PORT "an1" IO_TYPE=LVCMOS33;

IO_LOC  "an0" 56;
IO_PORT "an0" IO_TYPE=LVCMOS33;

IO_LOC  "g" 29;
IO_PORT "g" IO_TYPE=LVCMOS33;

IO_LOC  "f" 30;
IO_PORT "f" IO_TYPE=LVCMOS33;

IO_LOC  "e" 51;
IO_PORT "e" IO_TYPE=LVCMOS33;

IO_LOC  "d" 42;
IO_PORT "d" IO_TYPE=LVCMOS33;

IO_LOC  "c" 53;
IO_PORT "c" IO_TYPE=LVCMOS33;

IO_LOC  "b" 54;
IO_PORT "b" IO_TYPE=LVCMOS33;

IO_LOC  "a" 55;
IO_PORT "a" IO_TYPE=LVCMOS33;

IO_LOC  "s3" 25;
IO_PORT "s3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "s2" 26;
IO_PORT "s2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "s1" 27;
IO_PORT "s1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "s0" 28;
IO_PORT "s0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "led0" 10;
IO_PORT "led0" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "led1" 11;
IO_PORT "led1" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "led2" 13;
IO_PORT "led2" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "led3" 14;
IO_PORT "led3" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
